Source: gridtracker
Section: hamradio
Priority: optional
Maintainer: Paul Traina <216482-pleasantone@users.noreply.gitlab.com>
Build-Depends: debhelper (>= 12.1)
Standards-Version: 4.3.0
Homepage: http://gridtracker.org/

Package: gridtracker
Architecture: any
Depends: ${misc:Depends}
Recommends: speech-dispatcher-espeak-ng
Description: Companion program to WSJT-X/JTDX
 .
 GridTracker listens to traffic from WSJT-X/JTDX, displays it on a map,
 and has a sophisticated alerting and filtering system for finding and
 working interesting stations. It also will upload QSO records to multiple
 logging frameworks including Logbook of the World.
