Source: gridtracker
Section: hamradio
Priority: optional
Maintainer: Matthew Chambers <nr0q@gridtracker.org>
Build-Depends: debhelper (>= 12.1)
Standards-Version: 4.3.0
Homepage: https://gridtracker.org/

Package: gridtracker
Architecture: all
Depends: ${misc:Depends} nwjs libatomic1
Recommends: speech-dispatcher-espeak-ng
Description: Companion program to WSJT-X/JTDX
 .
 GridTracker listens to traffic from WSJT-X/JTDX, displays it on a map,
 and has a sophisticated alerting and filtering system for finding and
 working interesting stations. It also will upload QSO records to multiple
 logging frameworks including Logbook of the World.
